  <div class="email-left-box">
                    
<a href="email-compose.html" class="btn btn-primary btn-block">Oluştur</a>
<div class="mail-list mt-4">
    <a href="/Messages/ContactMessages/" class="list-group-item border-0 text-primary p-r-0"><i class="fa fa-inbox font-18 align-middle mr-2"></i> <b>Gelen Kutusu</b> <span class="badge badge-primary badge-sm float-right m-t-5">@ViewBag.InBoxCount</span> </a>
    <a href="/Messages/SendMessages/" class="list-group-item border-0 p-r-0"><i class="fa fa-paper-plane font-18 align-middle mr-2"></i>Giden Kutusu</a>  
</div>
</div>