 <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li>
                        <a class="" href="/Dashboard/DashboardPage" >
                            <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
                        </a>
                    </li>
                   
                    <li>
                        <a href="/Messages/ContactMessages/">
                            <i class="icon-envelope menu-icon"></i> <span class="nav-text">Mesajlar</span>
                        </a>
                    </li>

                      <li>
                        <a href="/Staff/ListStaffs/">
                            <i class="icon-user-follow menu-icon"></i> <span class="nav-text">Personeller</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Booking/ListBookings/">
                            <i class="icon-calender menu-icon"></i> <span class="nav-text">Rezervasyonlar</span>
                        </a>
                    </li>
                      <li>
                        <a href="/Guest/ListGuests/">
                            <i class="icon-people menu-icon"></i> <span class="nav-text">Müşteriler</span>
                        </a>
                    </li>
                        <li>
                        <a href="/Home/HomePage/">
                            <i class="icon-plane menu-icon"></i> <span class="nav-text">Siteye Git</span>
                        </a>
                    </li>
                            <li>
                        <a href="/Room/ListRooms/">
                            <i class="icon-home menu-icon"></i> <span class="nav-text">Odalar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Service/ListServices">
                            <i class="icon-notebook menu-icon"></i><span class="nav-text">Hizmetler</span>
                        </a>
                    </li>
                      <li>
                        <a href="/Testimonial/ListTestimonials">
                            <i class="icon-lock menu-icon"></i><span class="nav-text">Referanslar</span>
                        </a>
                    </li>
                     <li>
                        <a href="/AdminLayout/AboutAdmin">
                            <i class="icon-info menu-icon"></i><span class="nav-text">Hakkımızda</span>
                        </a>
                    </li>

                     <li>
                        <a href="/AdminFile/UploadImageFile">
                            <i class="icon-energy menu-icon"></i><span class="nav-text">Dosya</span>
                        </a>
                    </li>
                     <li>
                        <a href="/Account/LogOut/">
                            <i class="icon-close menu-icon"></i><span class="nav-text">Çıkış Yap</span>
                        </a>
                    </li>
    
                  
                </ul>
            </div>
        </div>