@model AddBookingDto
@{
    ViewData["Title"] = "AddBooking";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

        <!-- Page Header Start -->
        <div class="container-fluid page-header mb-5 p-0" style="background-image: url(/hotel-html-template/img/carousel-1.jpg);">
            <div class="container-fluid page-header-inner py-5">
                <div class="container text-center pb-5">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Rezervasyon</h1>
                   
                </div>
            </div>
        </div>
        <!-- Page Header End -->


        <!-- Booking Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="section-title text-center text-primary text-uppercase">Ode Rezervasyonu</h6>
                    <h1 class="mb-5"><span class="text-primary text-uppercase">Lüks oda</span> rezervasyonu yapın</h1>
                </div>
                <div class="row g-5">
                    <div class="col-lg-6">
                        <div class="row g-3">
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.1s" src="~/hotel-html-template/img/about-1.jpg" style="margin-top: 25%;">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.3s" src="~/hotel-html-template/img/about-2.jpg">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-50 wow zoomIn" data-wow-delay="0.5s" src="~/hotel-html-template/img/about-3.jpg">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.7s" src="~/hotel-html-template/img/about-4.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="wow fadeInUp" data-wow-delay="0.2s">
                            <form method="post">
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" asp-for="Name" class="form-control" id="name" placeholder="Adınız">
                                            <label for="name">Adınız</label>
                                        </div>
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="email" asp-for="Mail" class="form-control" id="email" placeholder="Mail adresiniz">
                                            <label for="email">Mail adresiniz</label>
                                        </div>
                                        <span asp-validation-for="Mail" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating date">
                                            <input type="date" asp-for="Checkin" class="form-control datetimepicker-input" placeholder="Giriş"/>
                                            <label for="checkin">Giriş</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating date">
                                            <input type="date" asp-for="CheckOut" class="form-control datetimepicker-input" placeholder="Çıkış" />
                                            <label for="checkout">Çıkış</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <select asp-for="AdultCount" class="form-select" id="select1">
                                              <option value="1">Yetişkin 1</option>
                                              <option value="2">Yetişkin 2</option>
                                              <option value="3">Yetişkin 3</option>
                                            </select>
                                            <label for="select1">Yetişkin sayısı</label>
                                          </div>
                                            <span asp-validation-for="AdultCount" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <select asp-for="ChildCount" class="form-select" id="select2">
                                              <option value="1">Çocuk 1</option>
                                              <option value="2">Çocuk 2</option>
                                              <option value="3">Çocuk 3</option>
                                            </select>
                                            <label for="select2">Çocuk sayısı</label>
                                          </div>
                                            <span asp-validation-for="ChildCount" class="text-danger"></span>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <select asp-for="RoomCount" class="form-select" id="select3">
                                              <option value="1">Oda 1</option>
                                              <option value="2">Oda 2</option>
                                              <option value="3">Oda 3</option>
                                            </select>
                                            <label for="select3">Oda sayısı</label>
                                          </div>
                                            <span asp-validation-for="RoomCount" class="text-danger"></span>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <textarea asp-for="SpecialRequest" class="form-control" placeholder="Özel istek" id="message" style="height: 100px"></textarea>
                                            <label for="message">Özel istek</label>
                                              <span asp-validation-for="SpecialRequest" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100 py-3" type="submit">Rezervasyon Yap</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Booking End -->

